<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Shanker Green Homes</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7
	/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body class="container">
	<h1>Owners List</h1>
	<table class="table table-bordered">
		<tr>
			<th>Id</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Spouse Name</th>
			<th>Contact Number</th>
			<th>Family size</th>
			<th>Welfare payment Fee Status</th>
			<th>Address</th>
		</tr>
		<tr th:each="owner: ${owners}">
			<td th:text="${owner.id}"></td>
			<td th:text="${owner.firstname}"></td>
			<td th:text="${owner.lastname}"></td>
			<td th:text="${owner.spousename}"></td>
			<td th:text="${owner.contact}"></td>
			<td th:text="${owner.familysize}"></td>
			<td th:text="${owner.welfarefeestatus}"></td>
			<td th:text="${owner.address}"></td>
		</tr>
	</table>
</body>
</html>