<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Shanker Green Homes</title>
</head>
<body>
	<h1>Owners List</h1>
	<table border="1">
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Spouse Name</th>
			<th>Contact Number</th>
			<th>Family size</th>
			<th>Association Membership</th>
			<th>Welfare payment Fee Status</th>
			<th>Address</th>
		</tr>
		<tr th:each="owner: ${owners}">
			<td th:text="${owner.firstName}"></td>
			<td th:text="${owner.lastName}"></td>
			<td th:text="${owner.spouseName}"></td>
			<td th:text="${owner.number}"></td>
			<td th:text="${owner.size}"></td>
			<td th:text="${owner.associationMember}"></td>
			<td th:text="${owner.welfareFeeStatus}"></td>
			<td th:text="${owner.address}"></td>
		</tr>
	</table>
</body>
</html>