<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Shanker Green Homes</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7
	/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body class="container">
	<h1>Renters List</h1>
	<table class="table table-bordered">
		<tr>
			<th>Id</th>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Owner Name</th>
			<th>Contact Number</th>
			<th>Family Size</th>
			<th>Address</th>
		</tr>
		<tr th:each="renter: ${renters}">
			<td th:text="${renter.id}"></td>
			<td th:text="${renter.firstname}"></td>
			<td th:text="${renter.lastname}"></td>
			<td th:text="${renter.ownername}"></td>
			<td th:text="${renter.contact}"></td>
			<td th:text="${renter.familysize}"></td>
			<td th:text="${renter.address}"></td>
		</tr>
	</table>
</body>
</html>