<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Renter Info</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:text="'id: ' + ${renter.id}" />
    <p th:text="'First Name: ' + ${renter.firstname}" />
    <p th:text="'Last Name: ' + ${renter.lastname}" />
    <p th:text="'Owner Name: ' + ${renter.ownername}" />
    <p th:text="'Address: ' + ${renter.address}" />
    <p th:text="'Contact: ' + ${renter.contact}" />
    <p th:text="'Family Size: ' + ${renter.familysize}" />
</body>
</html>