<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Shanker Green Homes</title>
</head>
<body>
	<h1>Workers List</h1>
	<table border="1">
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Contact Number</th>
			<th>Aadaar Card</th>
		</tr>
		<tr th:each="worker: ${workers}">
			<td th:text="${worker.firstName}"></td>
			<td th:text="${worker.lastName}"></td>
			<td th:text="${worker.contact}"></td>
			<td th:text="${worker.adhaarCard}"></td>
		</tr>
	</table>
</body>
</html>